<table class="table table-bordered table-sm" aria-hidden="true">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col" colspan="{{ grid.1|length }}">X</th>
        </tr>
    </thead>
    <tbody>
        {% for row in grid %}
            <tr>
                {% if forloop.first %}
                    <th scope="col" rowspan="{{ grid|length }}" class="align-middle">Y</th>
                {% endif %}
                {% for value in row %}
                    {% if forloop.parentloop.first %}
                        <th scope="col">{{ value }}</th>
                    {% else %}
                        {% if forloop.first %}
                            <th scope="row">{{ value }}</th>
                        {% else %}
                            <td>{{ value }}</td>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
