<table style="border:1px solid black;">
    <tr>
        <th>Type</th>
        <th>Size</th>
        <th>Is sunk</th>
        <th>Location</th>
        <th>Orientation</th>
    </tr>
    {% for ship in object.ships.all %}
        <tr>
            <td>{{ ship.get_ship_size_display }}</td>
            <td>{{ ship.ship_size }}</td>
            <td>{{ ship.is_sunk }}</td>
            <td>{{ ship.location }}</td>
            <td>{{ ship.get_orientation_display }}</td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="5" style="text-align: center">No ships !</td>
        </tr>
    {% endfor %}
</table>
