{% extends 'game/base.html' %}

{% block body %}
    <h1>Grid - {{ object.id }}</h1>
    <a href="{% url 'game:grid-form' %}">Back</a>
    <a href="{% url 'game:grid-delete' object.id %}">Delete this grid</a>
    <a href="{% url 'game:grid-regenerate' object.id %}">(Re)generate ships</a>
    <a href="{% url 'game:grid-detail-hidden' object.id %}">Make ships hidden</a>
    <p>Number of rows : {{ object.nb_rows }}</p>
    <p>Number of columns : {{ object.nb_columns }}</p>
    {% if object.is_game_over %}
        <h2>You have sunk all the ships, the game is over !</h2>
        <p>You needed {{ object.shots.all|length }} shots to sink all the ships.</p>
    {% endif %}
    <hr>
    <table>
        <tr>
            <th style="padding-left: 20px;"><h2>Grid</h2></th>
            <th style="padding-left: 20px;"><h2>Shots history</h2></th>
            <th style="padding-left: 20px;"><h2>Action</h2></th>
            <th style="padding-left: 20px;"><h2>Ships location</h2></th>
        </tr>
        <tr>
            <td style="padding-left: 20px; vertical-align: top;">
                <table>
                    <tr>
                        <td></td>
                        <td style="text-align: center;">- X -</td>
                    </tr>
                    <tr>
                        <td style="text-align: center; vertical-align: center;">|<br>Y<br>|</td>
                        <td>
                            {% include "game/components/grid_table.html" with grid=object.visible_grid %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><h3>Legend :</h3>
                            {% include "game/components/grid_table_legend.html" with full_legend=True %}
                        </td>
                    </tr>
                </table>
            </td>
            <td style="padding-left: 20px; vertical-align: top;">
                {% include "game/components/shots_history.html" %}
            </td>
            <td style="padding-left: 20px; vertical-align: top;">
                {% include "game/components/shot_form.html" %}
            </td>
            <td style="padding-left: 20px; vertical-align: top;">
                {% include "game/components/ships_list.html" %}
            </td>
        </tr>
    </table>
{% endblock body %}
